.app__findRoom_background {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(3.5px);

    z-index: 99;

    animation: slowOpen .4s ease;
}

.app_findroom {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 90%;

    font-family: var(--font-additional);
    color: #394253;

    border-radius: 1.412vw;
    background-color: var(--color-white);
    box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.20);

    flex-direction: column;


}

.findRoom-gradient {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 1.412vw;
}

.findroom_search {
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.findroom_search_label {
    color: #394253;
    font-size: 2.4vw;
    font-weight: 400;

}

.findroom_search_input {
    border-radius: 1.5vw;
    background: #D7BEFF;
    width: 26.428vw;
    height: 2.209vw;
    outline: none;
    font-size: 0.941vw;
    font-family: Neucha;
    text-align: center;
    border: none;
}

.findroom_rooms {
    width: 80%;
    height: 70%;
    margin-top: 2.745vw;
    z-index: 100;
    overflow-y: scroll;
}

@media screen and (max-width: 1400px) {
    .app_findroom {
        width: 85%;
        height: 70%;

        border-radius: 36px;
    }

    .findRoom-gradient {
        border-radius: 36px;
    }

    .findroom_search {
        width: auto;

        gap: 4vw;
    }

    .findroom_search_label {
        font-size: 3.7vw;
    }

    .findroom_search_input {
        width: 24vw;
        height: 4.5vw;

        font-size: 2vw;
    }

    .findroom_rooms {
        width: 95%;
    }
}

@media screen and (max-width: 688px) {
    .app_findroom{
        width: 95%;
        height: 135vw;
    }

    .findroom_search{
        flex-direction: column;
    }

    .findroom_search_label{
        font-size: 6.776vw;

        margin-top: 5vw;
    }
    
    .findroom_search_input{
        width: 60%;
        height: 9vw;

        font-size: 4.439vw;

        border-radius: 4.206vw;
    }

    .findroom_rooms{
        margin-top: 7.243vw;

        display: grid;

        gap: 2.336vw;

        grid-template-columns: 1fr 1fr;
        
        height: 90%;
        border-radius: 8.411vw;
    }
}