.app__gradients{
    display: flex;
    position: absolute;

    width: 100%;

    left: 0;
    top: 0;

    z-index: -1;
    flex-direction: column;
}

.app__gradients img{
    opacity: 0.67;
    width: 100%;
}

.gradients__headerGrad{
    border-radius: 7.292vw 7.292vw 0px 0px;
}


.gradients__ThreeDRoomGrad{
    margin-top: 2vw;
}

.gradients__PonyMaxW992{
    display: none;
}

.gradients__FeedbackGrad{
    margin-top: 5vw;
    opacity: 0.6!important;
}

.gradients__partnersGrad{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    border-radius: 6vw;
}

@media screen and (max-width: 992px){
    .gradients__PonyMaxW992{
        display: block;
        
        height: 60vw;


        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .gradients__FeedbackGrad{
        margin: 0;
    }

    .gradients__partnersGrad{
        margin-top: 6vw;

        border-radius: 0 0 7.292vw 7.292vw;

        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

}

@media screen and (max-width: 688px){
    .gradients__headerGrad{
        height: 118.925vw;
    }

    .gradients__magickSpaceGrad{
        height: 97.196vw;
    }

    .gradients__ThreeDRoomGrad{
        display: none;
    }

    .gradients__CatalogGrad{
        height: 110.047vw;

        margin-top: 43vw;
    }

    .gradients__PonyMaxW992{
        margin-top: 50vw;
        height: 103vw;
    }

}