.app__catalog {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin-top: 1.042vw;

    flex-direction: column;
}

.catalog__header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-bottom: 5vw;
}

.catalog__textAndButton-button {
    font-family: Neucha;
    font-size: 1.2vw;

    color: #394253;

    padding: 0.6vw 2.7vw;

    border-radius: .8vw;
    border: 1.5px solid #D7BEFF;
    background: #D7BEFF;
    box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.20);

    cursor: pointer;
}

.catalog__header_text {
    color: #9DA2AB;
    font-size: 0.833vw;
    font-family: Neucha;
}

.catalog__clouds{
    position: absolute;
    width: 80%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.catalog__toys {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.042vw;
    grid-row-gap: 1vw;
}

.catalog__headerGrad{
    display: none;
}

@media screen and (max-width: 1400px) {
    .catalog__textAndButton-button{
        font-size: 1.7vw;
    }

    .catalog__header_text{
        font-size: 1.4vw;
    }

    .catalog__toys_moreproducts{
        font-size: 1.6vw;
    }

    .catalog__toys{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .catalog__textAndButton-button{
        font-size: 1.9vw;
        padding: .8vw 2.7vw;
    }

    .catalog__header_text{
        font-size: 1.8vw;
    }

    .catalog__toys_moreproducts{
        font-size: 1.9vw;
    }
}


@media screen and (max-width: 688px) {
    .catalog__textAndButton-button{
        font-size: 3.738vw;

        padding: 1.7vw 4.4vw;

        border-radius: 2vw;
    }

    .catalog__header{
        margin-bottom: 8.178vw;

        gap: 3vw;

        flex-direction: column;
    }

    .catalog__headerGrad,
    .catalog__footerGrad{
        display: block;
        position: absolute;
        
        width: 100vw;
        height: 500px;
        
        z-index: -1;
    }
    .catalog__headerGrad{
        top: -20vw;
    }

    .catalog__footerGrad{
        bottom: -50vw;
    }

    .catalog__header_text{
        font-size: 2.336vw;
    }

    .catalog__clouds{
        width: 100%;
    }

    .catalog__toys{
        grid-template-columns: repeat(2, 1fr);
        gap: 3.505vw;
    }

    .catalog__toys_moreproducts{
        font-size: 3.271vw;

        margin-top: 6vw;
    }
}