.app__catalog{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.catalog__props{
    display: flex;
    
    width: 81.094vw;
    height: 33.490vw;
}

.catalog__aboveProps_phone{
    display: none;
}

.catalog__hearts_phone{
    display: none;
}

.catalog__rabbit_phone{
    display: none;
}

.catalog__textAndButton{
    display: flex;
    position: absolute;
    align-items: center;

    flex-direction: column;
}

.catalog__headerDescription-header{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 700;
    font-size: 5.729vw;

    text-align: center;

    margin-bottom: 0.260vw;

    color: var(--color-black);
}

.catalog__headerDescription-description{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    font-size: 1.563vw;

    text-align: center;

    margin-bottom: 2.500vw;

    color: var(--color-black);
}

.catalog__textAndButton-button{
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;
    
    color: var(--color-black);

    padding: 0.781vw 2.552vw;

    background: var(--color-pink);
    box-shadow: var(--drop-shadow);
    border-radius: 0.677vw;

    cursor: pointer;
}

@media screen and (max-width: 992px){
    .catalog__textAndButton-button{
        font-size: 1.6vw;

        border-radius: .9vw;
    }
}

@media screen and (max-width: 688px){

    .catalog__props{
        display: none;
    }

    .catalog__aboveProps_phone{
        display: block;
        width: 73.130vw;
    }

    .catalog__hearts_phone{
        display: block;
        width: 7.710vw;
    }

    .catalog__rabbit_phone{
        display: block;
        width: 6.453vw;
    }
    
    .catalog__headerDescription-header{
        font-size: 8.644vw;
    }
    
    .catalog__headerDescription-description{
        font-size: 4.672vw;
    }
}