.app__compCatalog{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.compCatalog__props{
    display: flex;
    
    width: 81.094vw;
    height: 33.490vw;
}

.compCatalog__props_phone{
    display: none;
}

.compCatalog__textAndButton{
    display: flex;
    position: absolute;
    align-items: center;

    flex-direction: column;
}

.compCatalog__headerDescription-header{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 700;
    font-size: 5.729vw;

    text-align: center;

    margin-bottom: 0.260vw;

    color: var(--color-black);
}

.compCatalog__headerDescription-description{
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    font-size: 1.563vw;

    text-align: center;

    margin-bottom: 2.500vw;

    color: var(--color-black);
}

.compCatalog__textAndButton-button{
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;
    
    color: var(--color-black);

    padding: 0.781vw 2.552vw;

    background: var(--color-pink);
    box-shadow: var(--drop-shadow);
    border-radius: 0.677vw;

    cursor: pointer;
}

@media screen and (max-width: 1400px){
    .compCatalog__textAndButton-button{
        font-size: 1.5vw;

        border-radius: .9vw;
    }
}

@media screen and (max-width: 992px){
    .compCatalog__textAndButton-button{
        font-size: 1.9vw;
    }
}

@media screen and (max-width: 688px){
    .compCatalog__props{
        display: none;
    }

    .compCatalog__props_phone{
        display: block;
    }

    .compCatalog__headerDescription-header{
        font-size: 8.645vw;
    }

    .compCatalog__HeaderDescription-br{
        display: none;
    }

    .compCatalog__headerDescription-description{
        font-size: 4.3vw;
    }

    .compCatalog__textAndButton-button{
        font-size: 3.738vw;
        
        padding: 1.7vw 4.4vw;

        border-radius: 2vw;
    }
}