div{
    font-family: Neucha;
}
.app_findroom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.app_findroom_parameters{
    display: flex;
    justify-content: space-between;
    width: 1400px;
}
.app_findroom_input{
    display: flex;
    justify-content: space-evenly;
    width: 1500px;
    margin-bottom: 50px;
}
.app_findroom_input input{
    background-color: #D7BEFF;
    border-radius: 18px;
    border: 0px;
    color: #394253;
    font-size: 24px;
    text-align: center;
    font-family: Neucha;
    width: 50%;
    outline: none;
}
.app_findroom_input label{
    font-size: 50px;
    color: #394253;
}
.app_findroom_map{
    background-color: #D7BEFF;
    border-radius: 66px;
    color: #394253;
    padding: 30px;
    width: 1496.2px;
    height: 86.04px;
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.app_findroom_parameters p{
    font-size: 24px;
}
.app_findroom_map div{
    display: flex;
    align-items: center;
    text-align: left;
}
.app_findroom_map div{
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.app_findroom_map div p{
    margin: 5px;
}
.app_findroom_map div p:nth-child(1){
    font-size: 16px;
}
.app_findroom img{
    width: 30px;
    height: 30px;
    align-self: center;
}
.Rooms{
    overflow-y: scroll;
    height: 700px;
}
