.app__navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__buttons_helpToy{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.417vw 1.615vw;   
    
    background: var(--color-pink);
    box-shadow: var(--drop-shadow);
    border-radius: 0.677vw;

    cursor: pointer;
}

.navbar__buttons_helptoy-text{
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 0.833vw;

    margin: 0;

    color: var(--color-black);
}

.navbar__buttons_helptoy-icon{
    display: flex;
    
    width: 1.563vw;
    height: 1.563vw;
}

.navbar__helpToyIcon{
    margin-right: 0.677vw;
}

.navbar__buttons_charity{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.417vw 1.615vw;
    
    background: var(--color-pink);
    box-shadow: var(--drop-shadow);
    border-radius: 0.677vw;

    cursor: pointer;
}

.navbar__charityIcon{
    margin-left: 0.677vw;
}

@media screen and (max-width: 992px){
    .navbar__buttons_helptoy-text{
        font-size: 1.3vw;
    }

    .navbar__buttons_helpToy{
        padding: 1vw 2vw;

        border-radius: 1.2vw;
    }

    .navbar__buttons_charity{
        padding: 1vw 2vw;

        border-radius: 1.2vw;
    }

    .navbar__buttons_helptoy-icon{
        width: 1.6vw;
        height: 1.6vw;
    }
}

@media screen and (max-width: 688px){
    .navbar__buttons_helpToy{
        padding: 1.402vw 3.037vw;
    }
}