.app__navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__buttons{
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin: 66px 97px;
    margin-bottom: 0px;
}

.navbar__buttons_helpToy{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 31px;
    
    background: var(--color-pink);
    box-shadow: var(--drop-shadow);
    border-radius: 13px;
}

.navbar__buttons_helptoy-text{
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    margin: 0;

    color: var(--color-black);
}

.navbar__buttons_helptoy-icon{
    display: flex;
    
    width: 30px;
    height: 30px;
}

.navbar__helpToyIcon{
    margin-right: 13px;
}

.navbar__buttons_charity{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 31px;
    
    background: var(--color-pink);
    box-shadow: var(--drop-shadow);
    border-radius: 13px;
}

.navbar__charityIcon{
    margin-left: 13px;
}