.pony__ponyPlates{
    display: flex;
    position: relative;

    width: 20.156vw; /*329*/
    height: 20.156vw; /*251*/

    background: var(--color-pink);
    border-radius: 1.719vw;

    transition: all .5s ease;

    flex-direction: column;

    cursor: pointer;
}

.pony__ponyPlates:hover{
    background: linear-gradient(134.7deg, #D7BEFF 43.09%, #EADDFF 65.96%, #D7BEFF 91.06%), #D7BEFF;
    filter: drop-shadow(var(--drop-shadow));
    transition: all .5s ease;
}

.ponyPlates-text{
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;

    color: var(--color-black);

    margin: 1.771vw 1.510vw 0 1.510vw;
}

.pony__ponyPlates img{
    position: absolute;

    bottom: 0;
}

.ponyPlates__-ponyOne{
    width: 12.031vw;
    height: 13.490vw;
}
.ponyPlates__-ponyTwo{
    width: 15.417vw;
    height: 12.917vw;
}
.ponyPlates__-ponyThree{
    width: 19.427vw;
    height: 12.500vw;
}
.ponyPlates__-ponyFour{
    width: 16.927vw;
    height: 13.125vw;
}


@media screen and (max-width: 1400px){
    .ponyPlates-text{
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 992px){
    .pony__ponyPlates{
        width: 32.200vw;
        height: 32.200vw;

        border-radius: 3.507vw;
    }

    .ponyPlates-text{
        font-size: 2.550vw;

        margin: 2vw 2.4vw 0 2.4vw;
    }

    .ponyPlates__-ponyOne{
        width: 22.423vw;
        height: 22.210vw;
    }
    .ponyPlates__-ponyTwo{
        width: 24.548vw;
        height: 21.148vw;
    }
    .ponyPlates__-ponyThree{
        width: 30.925vw;
        height: 19.872vw;
    }
    .ponyPlates__-ponyFour{
        width: 27.205vw;
        height: 20.935vw;
    }

}

@media screen and (max-width: 688px){
    .pony__ponyPlates{
        width: 44.626vw;
        height: 44.626vw;
    }

    .ponyPlates-text{
        font-size: 4.192vw;

        text-align: center;
    }

    .ponyPlates__-ponyOne{
        width: 27vw;
        height: 32vw;
    }
    .ponyPlates__-ponyTwo{
        width: 37vw;
        height: 30vw;
    }
    .ponyPlates__-ponyThree{
        width: 42vw;
        height: 27vw;
    }
    .ponyPlates__-ponyFour{
        width: 37vw;
        height: 30vw;
    }
}