.app__footer {
    display: flex;

    flex-direction: column;
}

.footer__mainContentANDsocial {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.footer__mainContentANDsocial_phone {
    display: none;
}

.footer__mainContent-logo {
    width: 101px;
    height: 58px;
}

.footer__mainContent_navigation {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;

    width: 60%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer_navigation-text {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12vw;
    height: 2.5vw;

    font-family: var(--font-additional);
    font-size: 1.042vw;

    color: var(--color-black);

    border-radius: 1vw;
    border: 2px solid #D7BEFF;
    box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.20);

    cursor: pointer;
}

.footer__mainContent_social {
    display: flex;
    position: relative;

    align-items: flex-end;
}

.footer__social_socialMedia {
    display: flex;
}

.footer__social_socialMedia svg {
    cursor: pointer;
}

.footer__social_socialMedia-icons {
    width: 1.823vw;
    height: 1.823vw;
}

.footer__social_socialMedia-facebook {
    left: -1.913vw;

    margin-right: 2.125vw;
}

.footer__credits {
    display: flex;
    justify-content: space-between;

    margin: 0 3vw;
    margin-top: 3.177vw;
}

.footer__credits_Phone {
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;

    margin: 0;
    color: var(--color-darkPink);
}

.footer__credits_Phone a {
    font-family: var(--font-additional);

    color: var(--color-darkPink);

    text-decoration: none;
    cursor: pointer;
}

.footer__mainContent_social-arrow {
    position: absolute;
    left: -6.5vw;
    bottom: .7vw;

    width: 6.406vw;
    height: 3.594vw;
}

.footer__mainContent-cloud{
    display: none;
}

@media screen and (max-width: 1400px) {
    .footer_navigation-text {
        font-size: 1.4vw;
        height: 3vw;
    }

    .footer__credits_Phone {
        font-size: 1.3vw;
    }

    .footer_navigation-text {
        height: 3vw;
    }

    .footer__mainContent_social-arrow {
        left: -9.5vw;
        bottom: .7vw;

        width: 10vw;
        height: 7vw;
    }

}

@media screen and (max-width: 992px) {
    .footer_navigation-text {
        font-size: 1.6vw;

        border-radius: 8px;
    }

    .footer__mainContent-logo {
        width: 10.096vw;
        height: 5.313vw;
    }

    .footer__social_socialMedia-icons {
        width: 3vw;
        height: 3vw;
    }


    .footer__social_socialMedia-facebook {
        margin-right: 1.5vw;

        left: 0;
    }

    .footer__social_socialMedia-instagram {
        left: 0vw;
    }

    .footer__mainContent_navigation div {
        border-radius: 1.3vw;
    }

    .footer__credits {
        display: flex;
        justify-content: space-between;

        margin: 0 3vw;
        margin-top: 6vw;
    }

    .footer__credits_Phone {
        font-size: 1.5vw;
    }

    .footer_navigation-text {
        height: 3.3vw;
    }
}

@media screen and (max-width: 688px) {
    .app__footer{
        margin-top: 28vw;
    }

    .footer_navigationPhone-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-additional);
        font-style: normal;
        font-weight: 400;
        font-size: 3.005vw;
        color: var(--color-black);
        margin: 1.635vw 3.738vw;
    }

    .footer__mainContent-logo{
        width: 24.533vw;
        height: 12.850vw;
    }

    .footer__logoANDsocial-logo {
        width: 22vw;
    }

    .footer__mainContent_navigation{
        top: -15vw;
    }

    .footer__mainContent_social-arrow{
        width: 29.701vw;
        height: 12.178vw;

        left: -25vw;
        bottom: 3vw;
    }

    .footer__logoANDsocial-clouds {
        width: 14vw;
        margin-left: -6.5vw;
        margin-top: 4vw;
    }

    .footer__mainContent-cloud{
        display: block;
        width: 14.019vw;
        height: 8.879vw;
    }

    .footer__credits_Phone {
        font-size: 3.077vw;
    }

    .footer__credits_Phone a {
        font-size: 3.077vw;
    }

    .footer__social_socialMedia-facebook {
        margin-right: 5vw;
        width: 7vw;
        height: 7vw;
    }

    .footer__social_socialMedia-instagram {
        width: 7vw;
        height: 7vw;
    }


    .footer__3dRoom-text {
        height: 3.516vw;
    }

    .footer__toyCatalog-text {
        height: 3.516vw;
    }

    .footer__chatiry-text {
        height: 3.516vw;
    }

    .footer_navigation-text{
        font-size: 3.505vw;
    }

    .footer__mainContent_navigation{
        width: 100%;
        gap: 3vw;
    }

    .footer__mainContent_navigation a {
        width: 80%;
        height: 7vw;
        border-radius: 1.635vw;
    }
}