.app__footer {
    display: flex;

    flex-direction: column;
}

.footer__mainContentANDsocial {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.footer__mainContentANDsocial_phone {
    display: none;
}

.footer__mainContent-logo {
    width: 101px;
    height: 58px;
}

.footer__mainContent_navigation {
    display: flex;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__mainContent_navigation div {
    border: 3px solid var(--color-pink);
    border-radius: 0.833vw;

    margin-right: 3.125vw;

    cursor: pointer;
}

.footer__mainContent_navigation div:last-child {
    margin-right: 0;
}

.footer_navigation-text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;


    color: var(--color-black);

    /*width: 236px;  236 
    height: 51px; /*51*/

    margin: 0.781vw 2.344vw;
}

.footer__mainContent_social {
    display: flex;
    position: relative;

    align-items: flex-end;
}

.footer__mainContent_social-arrow {
    position: relative;

    width: 6.406vw;
    height: 3.594vw;

    margin-bottom: 1.488vw;
}

.footer__social_socialMedia {
    display: flex;
}

.footer__social_socialMedia svg {
    cursor: pointer;
}

.footer__social_socialMedia-icons {
    position: absolute;

    width: 1.823vw;
    height: 1.823vw;
}

.footer__social_socialMedia-facebook {
    position: relative;

    left: -1.913vw;

    margin-right: 2.125vw;
}

.footer__social_socialMedia-instagram {
    position: relative;

    left: -1.913vw;
}

.footer__credits {
    display: flex;
    justify-content: space-between;

    margin: 0 3vw;
    margin-top: 3.177vw;
}

.footer__credits_Phone {
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 0.781vw;

    margin: 0;
    color: var(--color-darkPink);
}

.footer__credits_Phone a {
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 0.781vw;


    color: var(--color-darkPink);

    text-decoration: none;
    cursor: pointer;
}

.footer__phone{
    display: none;
}

@media screen and (max-width: 992px) {
    .footer_navigation-text {
        font-size: 1.6vw;
    }

    .footer__mainContent-logo {
        width: 10.096vw;
        height: 5.313vw;
    }

    .footer__social_socialMedia-icons {
        width: 3vw;
        height: 3vw;
    }

    .footer__mainContent_social-arrow {
        width: 12vw;
        height: 6.262vw;

        left: 3vw;
    }

    .footer__social_socialMedia-facebook {
        margin-right: 1.5vw;

        left: 0;
    }

    .footer__social_socialMedia-instagram {
        left: 0vw;
    }

    .footer__mainContent_navigation div {
        border-radius: 1.3vw;
    }

    .footer_navigation-text {
        text-align: center;

        margin: 0.531vw 1.913vw;
    }

    .footer__credits {
        display: flex;
        justify-content: space-between;

        margin: 0 3vw;
        margin-top: 6vw;
    }

    .footer__credits_Phone {
        font-size: 1.5vw;
    }

    .footer__credits_Phone a {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 688px) {

    .footer__phone{
        display: block;
    }

    .footer__phone_navigationPhone {
        display: flex;
        justify-content: space-between;
    }

    .footer__phone_navigationPhone div {
        border: 1.5px solid var(--color-pink);
        border-radius: 1.635vw;
        margin-right: 3.125vw;
        cursor: pointer;
        margin-top: 6vw;
    }

    .footer_navigationPhone-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-additional);
        font-style: normal;
        font-weight: 400;
        font-size: 3.005vw;
        color: var(--color-black);
        margin: 1.635vw 3.738vw;
    }

    .footer__mainContentANDsocial {
        display: none;
    }

    .footer__phone_logoAndSocial {
        display: flex;
        justify-content: space-between;
    }

    .footer__logoANDsocial-logo {
        width: 22vw;
    }

    .footer__logoANDsocial-clouds {
        width: 14vw;
        margin-left: -6.5vw;
        margin-top: 4vw;
    }

    .footer__credits_Phone {
        font-size: 3.077vw;
    }

    .footer__credits_Phone a {
        font-size: 3.077vw;
    }

    .footer__mainContent_social-arrow {
        width: 25.700vw;
        height: 10vw;
        left: -17vw;
        top: 5vw;
    }

    .footer__phone-social {
        margin-right: -12vw;
    }

    .footer__social_socialMedia-facebook {
        margin-right: 1.5vw;
        width: 5vw;
        height: 5vw;
    }

    .footer__social_socialMedia-instagram {
        width: 5vw;
        height: 5vw;
    }



}