.app__aboutUs{
    font-family: Nunito;
    color: #394253;

    margin-top: 28px;
}

.aboutUs__header{
    font-size: 6.771vw;
    font-weight: 700;
    text-align: center;

    margin-bottom: 38px;
}

.app__aboutUs p{
    font-size: 2.083vw;
    font-weight: 400;
}

.aboutUs__description_content{
    display: flex;
    align-items: center;

    gap: 8.438vw;
}

.aboutUs__content_unicorn{
    height: 28.125vw;

    object-fit:cover;
}

.aboutUs__description_zigZag{
    display: flex;
    justify-content: space-between;

    margin-top: 4.583vw;
}

.aboutUs__goal{
    margin-top: 4.7vw;
}

.aboutUs__goal-image{
    height: 28.958vw;

    object-fit:cover;
}

.aboutUs__shelf_with_toys{
    margin-top: 13.542vw;

}

.aboutUs__shelf_with_toys-image{
    height: 25.781vw;

    object-fit:cover;
}

.aboutUs__expectedResults{
    margin-top: 7.813vw;
    gap: 3.594vw;


    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.aboutUs__expectedResults h2{
    font-size: 60px;
    font-weight: 600;
}

.aboutUs__expectedResults-image{
    margin-top: 4.167vw;

    object-fit:cover;

    height: 25.156vw;
}

.aboutUs__alreadyDone{
    flex-direction: column;

    margin-top: 7.083vw;

    gap: 0;
}

.aboutUs__alreadyDone h2{
    font-size: 60px;
    font-weight: 600;
}

.aboutUs__alreadyDone_first{
    display: flex;
    flex-direction: row;
    gap: 9.635vw;
    margin-top: 4.427vw;

    align-items: center;
    justify-content: space-evenly;
}

.aboutUs__alreadyDone_first-image{
    height: 28.958vw;

    object-fit:cover;
}

.aboutUs__alreadyDone_second{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    gap: 4.427vw;
    margin-top: 7.813vw;
}

.aboutUs__alreadyDone_first-second{
    height: 28.958vw;

    object-fit:cover;
}

.aboutUs_contactInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Neucha;

    font-size: 48px;
    font-weight: 400;

    margin-top: 7.969vw;

    width: 97%;
}

.aboutUs_contactInfo-phone{
    text-align: center;
}

.aboutUs_contactInfo-number{
    text-decoration-line: underline;
    cursor: pointer;
}

.aboutUs_contactInfoEmail{
    margin-top: 3.021vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Neucha;
    font-size: 48px;
    font-weight: 400;
}

.aboutUs_contactInfo-fullEmail{
    text-decoration-line: underline;
    cursor: pointer;
}

.aboutUs__FooterButton{
    margin-top: 8.802vw;
    display: flex;
    justify-content: center;
    align-content: center;

    cursor: pointer;
}

.aboutUs__FooterButton_Button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7.896vw;

    width: 13.281vw;
    height: 3.021vw;


    border-radius: 12px;
    background: #D7BEFF;
    box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.20);

    color: #394253;
    font-family: Neucha;
    font-size: 20px;
    font-weight: 400;
}



.aboutUs__cloudImage1{
    position: absolute;
    width: 8.266vw;
    height: 5.322vw;
    top: 13.958vw;
    left: 7.813vw;
}
.aboutUs__cloudImage2{
    position: absolute;
    width: 6.567vw;
    height: 4.229vw;
    top: 812px;
    left: 419px;
}
.aboutUs__cloudImage3{
    position: absolute;
    width: 6.729vw;
    height: 4.333vw;
    top: 933px;
    left: 838px;
}
.aboutUs__littleHeart1{
    position: absolute;
    width: 3.125vw;
    height: 3.231vw;
    top: 231px;
    left: 1471.26px;
    border: 3px;
    angle: -14.24 deg;
}
.aboutUs__Heart1{
    position: absolute;
    width: 3.698vw;
    height: 5.052vw;
    top: 693px;
    left: 967px;
    border: 3px;
    angle: -0 deg;
}
.aboutUs__cloudImage4{
    position: absolute;
    width: 5.274vw;
    height: 3.396vw;
    top: 1097px;
    left: 1534px;
}
.aboutUs__cloudImage5{
    position: absolute;
    width: 8.185vw;
    height: 5.27vw;
    top: 1732px;
    left: 389px;
}
.aboutUs__littleHeart2{
    position: absolute;
    width: 4.476vw;
    height: 4.696vw;
    top: 1687px;
    left: 983.35px;
    border: 3px;
    angle: -0.22 deg;

}
.aboutUs__littleHeart3{
    position: absolute;
    width: 3.125vw;
    height: 3.231vw;
    top: 1580px;
    left: 1378.09px;
    border: 3px;
    angle: -13.13 deg;
}
.aboutUs__littleHeart4{
    position: absolute;
    width: 2.865vw;
    height: 3.073vw;
    top: 1750px;
    left: 1566px;
    border: 3px;
}
.aboutUs__cloudImage6{
    position: absolute;
    width: 6.729vw;
    height: 4.333vw;
    top: 2070px;
    left: 611px;
}
.aboutUs__cloudImage7{
    position: absolute;
    width: 7.781vw;
    height: 5.01vw;
    top: 2520px;
    left: 1364px;
}
.aboutUs__littleHeart5{
    position: absolute;
    width: 4.122vw;
    height: 4.19vw;
    top: 2483.87px;
    left: 256px;
    padding: 0px;
    border: 3px;
    angle: 24.54 deg;
}
.aboutUs__cloudImage8{
    position: absolute;
    width: 6.232vw;
    height: 4.167vw;
    top: 3104px;
    left: 307px;
}
.aboutUs__cloudImage9{
    position: absolute;
    width: 7.356vw;
    height: 4.736vw;
    top: 4000px;
    left: 1331px;

}
.aboutUs__cloudImage10{
    position: absolute;
    width: 7.215vw;
    height: 4.645vw;
    top: 4531px;
    left: 928px;
}
.aboutUs__cloudImage11{
    position: absolute;
    width: 7.215vw;
    height: 4.645vw;
    top: 5601px;
    left: 281px;
}
.aboutUs__cloudImage12{
    position: absolute;
    width: 8.802vw;
    height: 5.668vw;
    top: 5507px;
    left: 1474px;
}
.aboutUs__littleHeart6{
    position: absolute;
    width: 3.752vw;
    height: 3.936vw;
    top: 3896.23px;
    left: 1566px;
    border: 3px;
    angle: 0.18 deg;
}
.aboutUs__littleHeart7{
    position: absolute;
    width: 4.165vw;
    height: 4.37vw;
    top: 4496.58px;
    left: 1601.98px;
    border: 3px;
    angle: 0.18 deg;
}
.aboutUs__littleHeart8{
    position: absolute;
    width: 3.522vw;
    height: 3.392vw;
    top: 4647px;
    left: 594.22px;
    border: 3px;
    angle: -14.43 deg;
}
.aboutUs__littleHeart9{
    position: absolute;
    width: 5.99vw;
    height: 6.302vw;
    top: 5211px;
    left: 597px;
    border: 3px;
}
.aboutUs__Heart2{
    position: absolute;
    width: 3.698vw;
    height: 5.052vw;
    top: 3983.16px;
    left: 791px;
    border: 3px;
    angle: 0.13 deg;

}
.aboutUs__Heart3{
    position: absolute;
    width: 3.698vw;
    height: 5.052vw;
    top: 5533px;
    left: 97.94px;
    border: 3px;
    angle: -1.15 deg;
}
.aboutUs__Heart4{
    position: absolute;
    width: 3.698vw;
    height: 5.052vw;
    top: 5700px;
    left: 1204px;
    border: 3px;
    angle: -0 deg;
}
