.app__magickSpace {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 4vw;
    margin-bottom: 8vw;
}

.magickSpace__clouds {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
}

.magickSpace__clouds-cloudLeft {
    width: 16.615vw;
    height: 14.375vw;
}

.magickSpace__clouds-cloudRight {
    width: 10.156vw;
    height: 18.333vw;
}

.magickSpace__cloudsAndHearts_phone {
    display: none;
}

.magickSpace__text {
    display: flex;
    position: relative;
    align-items: flex-end;

    font-family: var(--font-main);
    font-style: normal;
    font-weight: 600;
    font-size: 3.125vw;

    color: var(--color-black);

    flex-direction: column;
}

.magickSpace__text_textAndStars {
    display: flex;
}

.magickSpace__textAndStars_starAndText {
    display: flex;
    position: relative;
}

.magickSpace__starAndText-stars {
    position: absolute;

    width: 13.906vw;
    height: 6.615vw;

    top: -1.042vw;
    left: 0.6vw;
}

.magickSpace__starAndText-text {
    font-style: italic;
    margin: 0 0.8vw;
}

.magickSpace__text-note {
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 0.885vw;

    color: var(--color-purpule);
}

.magickSpace__clouds-cloudRightPhone {
    display: none;
    position: absolute;
}

@media screen and (max-width: 1400px) {
    .magickSpace__text-note {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 688px) {
    .app__magickSpace {
        margin-top: 15vw;
        margin-bottom: 16vw;
    }

    .magickSpace__text {
        font-size: 5.5vw;
    }

    .magickSpace__text-note {
        font-size: 3.738vw;

        margin-top: 1vw;
    }

    .magickSpace__clouds-cloudLeft {
        display: none;
    }

    .magickSpace__starAndText-stars{
        width: 24vw;
        height: 12vw;
        top: -2.8vw;
    }

    .magickSpace__clouds-cloudRightPhone {
        display: block;
        width: 22vw;
        height: 38vw;

        left: 8vw;
        bottom: -15vw;
    }

    .magickSpace__clouds-cloudRight {
        position: absolute;

        width: 22vw;
        height: 38vw;

        bottom: -20vw;
        right: 0;
    }
}