.app{
    display: flex;

    padding: 0 80px;
    padding-top: 66px;
    padding-bottom: 18px;
    border-radius: 140px;

    margin: 0 3.958vw;

    background: var(--color-white);

    flex-direction: column;
}