.app{
    display: flex;
    position: relative;

    padding: 0 4.167vw;
    padding-top: 3.438vw;
    padding-bottom: 0.938vw;
    border-radius: 7.292vw;

    margin: 0 3.958vw;

    background: var(--color-white);

    flex-direction: column;
    z-index: 0;
}