@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Neucha&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Raleway&display=swap');

:root{
  --font-main: 'Nunito', sans-serif;
  --font-additional: 'Neucha', cursive;
  --font-poweredBy: 'Raleway', sans-serif;
  --font-webElefont: 'Josefin Sans', sans-serif;
  --color-pink: #D7BEFF;
  --color-darkPink: #8787C4;
  --color-black: #394253;
  --color-white: #FFFFFF;
  --color-purpule: #9B9BFF;
  --drop-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2); 
}

* {
margin: 0;
padding: 0;

/* border: 1px red solid; */
}

a {
  all: unset;
}

body {
  background-color: var(--color-pink);
}

.flex{
  display: flex;
}

.flex_center{
  justify-content: center;
  align-items: center;

  width: 100%;
}

/* .img{
  image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
} */

@keyframes slowOpen{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
