.poweredByWebElefont{
    display: flex;
    align-items: center;

    font-family: var(--font-poweredBy);
    font-style: normal;
    font-weight: 400;
    font-size: 0.625vw;

    color: var(--color-darkPink);

    cursor: pointer;
}

.poweredByWebELEFONT-webelefont{
    font-family: var(--font-webElefont);
    font-style: normal;
    font-weight: 400;
    font-size: 0.885vw;

    margin: 0;

    color: var(--color-darkPink);
}

@media screen and (max-width: 1400px){

    .poweredByWebElefont{
        font-size: 1vw;
    }

    .poweredByWebELEFONT-webelefont{
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 992px){

    .poweredByWebElefont{
        font-size: .9vw;
    }

    .poweredByWebELEFONT-webelefont{
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 688px){

    .poweredByWebElefont{
        font-size: 1.985vw;
    }

    .poweredByWebELEFONT-webelefont{
        font-size: 3.154vw;
    }
}