.app__payment {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(3.5px);

    animation: slowOpen .4s ease;
}

.payment__content {
    display: flex;
    position: relative;
    width: 70%;
    height: 90%;
    background-color: white;
    z-index: 11;
    margin: 0;
    border-radius: 1.8750vw;
    box-shadow: 0px 16px 40px 0px rgba(112, 144, 176, 0.20);

    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.payment__content_button {
    display: flex;
    gap: 1.5vw;

    flex-direction: column;
}

.payment__text {
    font-family: var(--font-additional);
    font-style: normal;
    color: #394253;
}

.payment__content_title {
    display: contents;
}

.payment__title-title {
    font-size: 3.1250vw;
    font-weight: 400;
    margin-bottom: 1.197vw;
}

.payment__title-description {
    text-align: center;
    font-size: 1.6667vw;
    font-weight: 400;
    margin-bottom: 4.687vw;
}



.payment__button {
    display: flex;
    background-color: #D7BEFF;
    width: 51.666vw;
    height: 5.4vw;
    border-radius: 1.8750vw;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}



.payment__text-title {
    font-size: 1.25vw;
    margin-bottom: -0.7vw;
}

.payment__text-content {
    font-size: 1.8229vw;
}

.payment__content-backGround {
    position: absolute;
    width: 80%;
    height: 100%;
    margin-top: 0.7vw;
    z-index: -1;
}

.payment__content-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.67;
    z-index: -1;
    border-radius: 1.8750vw;
}


@media screen and (max-width: 1400px) {
    .payment__content {
        width: 85%;
        height: 60vw;
        border-radius: 5vw;
    }

    .payment__content-gradient {
        border-radius: 5vw;
    }

    .payment__title-title {
        font-size: 4.197vw;
    }

    .payment__title-description {
        font-size: 2.518vw;
    }

    .payment__button {
        width: 64.748vw;
        height: 7.194vw;
    }

    .payment__text-title {
        font-size: 2.038vw;
    }

    .payment__text-content {
        font-size: 2.998vw;
    }
}

@media screen and (max-width: 688px) {
    .payment__content {
        width: 90%;
        height: 112.617vw;
    }

    .payment__content-backGround {
        width: 100%;
    }

    .payment__title-title {
        font-size: 6.776vw;
    }

    .payment__descriptionBr {
        display: none;
    }

    .payment__title-description {
        font-size: 4.2vw;

        width: 95%;

        margin-bottom: 5.607vw;
    }

    .payment__text-title {
        font-size: 3.972vw;
    }

    .payment__text-content {
        font-size: 5.374vw;
    }

    .payment__content_button {
        display: flex;

        width: 90%;

        gap: 3vw;

        flex-direction: column;
    }

    .payment__button {
        width: 100%;
        height: 14.720vw;

        border-radius: 5vw;
    }
}