.app__products{
    background-color: white;
    height: fit-content;
    width: 82.292vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.042vw;
    grid-row-gap: 1vw;
}
.app__toy{
    height: 19.689vw;
    background-color: white;
    border-radius: 1.302vw;
    border: 0.156vw solid #D7BEFF;
    display: flex;
    justify-content: space-between;
    padding: 0.885vw 1.302vw ;
    flex-direction: column;
    align-items: center;
}
.toy__Text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.toy__Text p{
    color: #8787C4;
    font-family: Neucha;
    font-size: 0.833vw;
}
.app__toy img{
    display: block;
    width: 30%;

}
.toy__Button{
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;
    width: 100%;
    height: 1.135vw;
    padding: 0.781vw 0;

    background: var(--color-pink);
    text-align: center;
    border-radius: 0.677vw;
    cursor: pointer;
    color: #394253;
}
.catalog__toys_moreproducts{
    text-decoration: underline;
    color: #394253;
    font-family: Neucha;
    font-size: 0.833vw;
    position: relative;
    left: 38.263vw;
    z-index: 1;
    cursor: pointer;
}

