.app__toy {
    height: 19.689vw;
    background-color: white;
    border-radius: 1.302vw;
    border: 0.156vw solid #D7BEFF;
    display: flex;
    justify-content: space-between;
    padding: 0.885vw 1.302vw;
    flex-direction: column;
    align-items: center;
}

.toy__Text {
    display: flex;
    justify-content: space-between;

    font-family: Neucha;
    font-size: 0.833vw;

    color: #8787C4;
    
    width: 100%;

}

.app__toy img {
    display: block;
    width: 30%;

}

.toy__Button {
    font-family: var(--font-additional);
    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;
    width: 100%;
    height: 1.135vw;
    padding: 0.781vw 0;

    background: var(--color-pink);
    text-align: center;
    border-radius: 0.677vw;
    cursor: pointer;
    color: #394253;
}

.catalog__toys_moreproducts {
    text-decoration: underline;
    color: #394253;
    font-family: Neucha;
    font-size: 0.833vw;
    position: relative;
    cursor: pointer;

    margin-top: 1.4vw;
    margin-bottom: 2vw;
}


@media screen and (max-width: 1400px){
    .toy__Text{
        font-size: 1.6vw;
    }

    .app__toy{
        height: 29vw;
    }

    .toy__Button{
        font-size: 1.6vw;
        height: 2.1vw;
    }
}

@media screen and (max-width: 992px) {
    .toy__Text{
        font-size: 1.8vw;
    }

    .app__toy{
        height: 32vw;
    }

    .toy__Button{
        font-size: 1.8vw;
        height: 2.7vw;
    }
}

@media screen and (max-width: 688px) {
    .app__toy {
        height: 28.443vw;
        width: 28.443vw;
        border-radius: 3.293vw;
        width: 100%;
    }

    .toy__Text p {
        font-size: 1.946vw;
        margin-left: 1.497vw;
    }

    .catalog__toys_moreproducts {
        font-size: 2.096vw;
    }

}